.machine-top {
  position: absolute;
  top: 56px;
  width: 300px;
  height: 187px;
  left: 34px;
  background-image: url('../images/machine_top.jpg');
}

.machine-bottom {
  position: absolute;
  top: 243px;
  width: 300px;
  height: 63px;
  left: 34px;
  background-image: url('../images/machine_bottom.jpg');
}

.dollar {
  position: absolute;
  top: 172px;
  width: 125px;
  height: 66px;
  left: 118px;
  background-image: url('../images/dollars.png');
}

.card-holder-bottom {
  position: absolute;
  top: 116px;
  width: 78px;
  height: 19px;
  left: 138px;
  background-image: url('../images/card-holder--bottom.png');
}

.card {
  position: absolute;
  top: 476px;
  width: 56px;
  height: 87px;
  left: 157px;
  background-image: url('../images/card.png');
}

.card-holder-top {
  position: absolute;
  top: 17px;
  width: 113px;
  height: 100px;
  left: 121px;
  background-image: url('../images/card-holder_top.jpg');
}

.green-light-off {
  position: absolute;
  top: 95px;
  width: 14px;
  height: 9px;
  left: 168px;
  background-image: url('../images/green-light-off.png');
}

.green-light-on {
  position: absolute;
  top: 95px;
  width: 16px;
  height: 11px;
  opacity: 0;
  left: 172px;
  background-image: url('../images/green-light-on.png');
}

.orange-light-off {
  position: absolute;
  top: 220px;
  width: 14px;
  height: 9px;
  left: 171px;
  background-image: url('../images/green-light-off.png');
}

.orange-light-on {
  position: absolute;
  top: 220px;
  width: 16px;
  height: 11px;
  opacity: 0;
  left: 170px;
  background-image: url('../images/orange-light-on.png');
}

.atm-machine {
  height: 300px;
}

.atm-machine .card-light-animation {
  -webkit-animation: card-light-animation-keyframes .8s linear 0s infinite normal forwards;
  -moz-animation: card-light-animation-keyframes .8s linear 0s infinite normal forwards;
  animation: card-light-animation-keyframes .8s linear 0s infinite normal forwards
}

.atm-machine .card-inserted-animation {
  -webkit-animation: card-inserted-animation-keyframes .8s linear 0s normal forwards;
  -moz-animation: card-inserted-animation-keyframes .8s linear 0s normal forwards;
  animation: card-inserted-animation-keyframes .8s linear 0s normal forwards
}

.atm-machine .card-ejected-animation {
  -webkit-animation: card-inserted-animation-keyframes .8s linear 0s reverse forwards;
  -moz-animation: card-inserted-animation-keyframes .8s linear 0s reverse forwards;
  animation: card-inserted-animation-keyframes .8s linear 0s reverse forwards
}

.atm-machine .cash-dispenser-light-animation {
  -webkit-animation: cash-dispenser-light-animation-keyframes 4.2s linear 0s normal forwards;
  -moz-animation: cash-dispenser-light-animation-keyframes 4.2s linear 0s normal forwards;
  animation: cash-dispenser-light-animation-keyframes 4.2s linear 0s normal forwards
}

@-webkit-keyframes cash-dispenser-animation-keyframes {
  0% {
    left: 118px;
    top: 172px;
    -webkit-animation-timing-function: linear
  }
  47.62% {
    left: 118px;
    top: 172px;
    -webkit-animation-timing-function: linear
  }
  54.76% {
    left: 118px;
    top: 222px;
    -webkit-animation-timing-function: linear
  }
  100% {
    left: 118px;
    top: 222px;
    -webkit-animation-timing-function: linear
  }
}

@-moz-keyframes cash-dispenser-animation-keyframes {
  0% {
    left: 118px;
    top: 172px;
    -moz-animation-timing-function: linear
  }
  47.62% {
    left: 118px;
    top: 172px;
    -moz-animation-timing-function: linear
  }
  54.76% {
    left: 118px;
    top: 222px;
    -moz-animation-timing-function: linear
  }
  100% {
    left: 118px;
    top: 222px;
    -moz-animation-timing-function: linear
  }
}

@keyframes cash-dispenser-animation-keyframes {
  0% {
    left: 118px;
    top: 172px;
    animation-timing-function: linear
  }
  47.62% {
    left: 118px;
    top: 172px;
    animation-timing-function: linear
  }
  54.76% {
    left: 118px;
    top: 222px;
    animation-timing-function: linear
  }
  100% {
    left: 118px;
    top: 222px;
    animation-timing-function: linear
  }
}

.atm-machine .cash-dispenser-animation {
  -webkit-animation: cash-dispenser-animation-keyframes 4.2s linear 0s normal forwards;
  -moz-animation: cash-dispenser-animation-keyframes 4.2s linear 0s normal forwards;
  animation: cash-dispenser-animation-keyframes 4.2s linear 0s normal forwards
}

.atm-machine .cash-dispenser-deposit-animation {
  -webkit-animation: cash-dispenser-animation-keyframes 4.2s linear 0s reverse forwards;
  -moz-animation: cash-dispenser-animation-keyframes 4.2s linear 0s reverse forwards;
  animation: cash-dispenser-animation-keyframes 4.2s linear 0s reverse forwards
}

@-moz-keyframes card-light-animation-keyframes {
  0% {
    opacity: 0;
    left: 172px;
    top: 95px;
    -moz-animation-timing-function: linear
  }
  50% {
    opacity: 0;
    left: 167px;
    top: 95px;
    -moz-animation-timing-function: linear
  }
  62.5% {
    opacity: 1;
    left: 167px;
    top: 95px;
    -moz-animation-timing-function: linear
  }
  87.5% {
    opacity: 1;
    left: 167px;
    top: 95px;
    -moz-animation-timing-function: linear
  }
  100% {
    opacity: 0;
    left: 167px;
    top: 95px;
    -moz-animation-timing-function: linear
  }
}

@keyframes card-light-animation-keyframes {
  0% {
    opacity: 0;
    left: 172px;
    top: 95px;
    animation-timing-function: linear
  }
  50% {
    opacity: 0;
    left: 167px;
    top: 95px;
    animation-timing-function: linear
  }
  62.5% {
    opacity: 1;
    left: 167px;
    top: 95px;
    animation-timing-function: linear
  }
  87.5% {
    opacity: 1;
    left: 167px;
    top: 95px;
    animation-timing-function: linear
  }
  100% {
    opacity: 0;
    left: 167px;
    top: 95px;
    animation-timing-function: linear
  }
}

@-webkit-keyframes card-inserted-animation-keyframes {
  0% {
    left: 150px;
    top: 116px;
    -webkit-animation-timing-function: linear
  }
  100% {
    left: 150px;
    top: 49px;
    -webkit-animation-timing-function: linear
  }
}

@-moz-keyframes card-inserted-animation-keyframes {
  0% {
    left: 150px;
    top: 116px;
    -moz-animation-timing-function: linear
  }
  100% {
    left: 150px;
    top: 49px;
    -moz-animation-timing-function: linear
  }
}

@keyframes card-inserted-animation-keyframes {
  0% {
    left: 150px;
    top: 116px;
    animation-timing-function: linear
  }
  100% {
    left: 150px;
    top: 49px;
    animation-timing-function: linear
  }
}

@-webkit-keyframes cash-dispenser-light-animation-keyframes {
  0% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  42.86% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  45.24% {
    opacity: 1;
    left: 170px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  50% {
    opacity: 1;
    left: 170px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  52.38% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  61.9% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  64.29% {
    opacity: 1;
    left: 170px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  69.05% {
    opacity: 1;
    left: 170px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  71.43% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  80.95% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  83.33% {
    opacity: 1;
    left: 169px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  88.1% {
    opacity: 1;
    left: 170px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  90.48% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
  100% {
    opacity: 0;
    left: 168px;
    top: 220px;
    -webkit-animation-timing-function: linear
  }
}

@-moz-keyframes cash-dispenser-light-animation-keyframes {
  0% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  42.86% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  45.24% {
    opacity: 1;
    left: 170px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  50% {
    opacity: 1;
    left: 170px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  52.38% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  61.9% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  64.29% {
    opacity: 1;
    left: 170px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  69.05% {
    opacity: 1;
    left: 170px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  71.43% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  80.95% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  83.33% {
    opacity: 1;
    left: 169px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  88.1% {
    opacity: 1;
    left: 170px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  90.48% {
    opacity: 0;
    left: 170px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
  100% {
    opacity: 0;
    left: 168px;
    top: 220px;
    -moz-animation-timing-function: linear
  }
}

@keyframes cash-dispenser-light-animation-keyframes {
  0% {
    opacity: 0;
    left: 170px;
    top: 220px;
    animation-timing-function: linear
  }
  42.86% {
    opacity: 0;
    left: 170px;
    top: 220px;
    animation-timing-function: linear
  }
  45.24% {
    opacity: 1;
    left: 170px;
    top: 220px;
    animation-timing-function: linear
  }
  50% {
    opacity: 1;
    left: 170px;
    top: 220px;
    animation-timing-function: linear
  }
  52.38% {
    opacity: 0;
    left: 170px;
    top: 220px;
    animation-timing-function: linear
  }
  61.9% {
    opacity: 0;
    left: 170px;
    top: 220px;
    animation-timing-function: linear
  }
  64.29% {
    opacity: 1;
    left: 170px;
    top: 220px;
    animation-timing-function: linear
  }
  69.05% {
    opacity: 1;
    left: 170px;
    top: 220px;
    animation-timing-function: linear
  }
  71.43% {
    opacity: 0;
    left: 170px;
    top: 220px;
    animation-timing-function: linear
  }
  80.95% {
    opacity: 0;
    left: 170px;
    top: 220px;
    animation-timing-function: linear
  }
  83.33% {
    opacity: 1;
    left: 169px;
    top: 220px;
    animation-timing-function: linear
  }
  88.1% {
    opacity: 1;
    left: 170px;
    top: 220px;
    animation-timing-function: linear
  }
  90.48% {
    opacity: 0;
    left: 170px;
    top: 220px;
    animation-timing-function: linear
  }
  100% {
    opacity: 0;
    left: 168px;
    top: 220px;
    animation-timing-function: linear
  }
}
