<div class="atm-machine">
  <img class="machine-bottom-img" src="../../images/machine_bottom.jpg">
  <img ng-class="{'cash-dispenser-deposit-animation': deposited}"
       class="dollar-img"
       src="../../images/dollars.png">
  <img class="machine-top-img" src="../../images/machine_top.jpg">
  <img class="card-holder-bottom-img" src="../../images/card-holder--bottom.png">
  <img ng-show="cardInserted"
       ng-class="{'card-inserted-animation': cardInserted}"
       class="card-img"
       src="../../images/card.png">
  <img ng-show="cardEjected"
       ng-class="{'card-ejected-animation' : cardEjected}"
       class="card-img"
       src="../../images/card.png">
  <img class="card-holder-top-img" src="../../images/card-holder_top.jpg">
  <img class="green-light-off-img" src="../../images/green-light-off.png">
  <img ng-class="{'card-light-animation' : cardInserted}"
       class="green-light-on-img"
       src="../../images/green-light-on.png">
  <img class="orange-light-off-img" src="../../images/orange-light-off.png">
  <img ng-class="{'cash-dispenser-light-animation' : deposited}"
       class="orange-light-on-img"
       src="../../images/orange-light-on.png">
</div>

